@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: "Anton", sans-serif;
}

.navbar-brand {
  font-size: 24px;
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  
}

.scale {
  height:  300px; 
  width: 400px;
  border-radius: 50%;
}

#cover-img {
  background-image: url("{% static 'images/default_2.jpg' %}");
  background-size: cover;

}