/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styles */
body {
  font-family: "Anton", sans-serif;
  background-color: #cdcdcd;
  margin: 80px 0;
}

/* Buttons */
button {
  font-family: 'Figtree', sans-serif;
  font-weight: bold;
}

/* Paragraphs */
p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #99acff;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

/* Elements with Class Scale */
.scale {
  height: 700px;
  width: 600px;
  border-radius: 30%;
  position: relative;
}

/* Navigation */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link {
  font-size: 20px;
}

/* Search Bar */
.search {
  padding-left: 50px;
}

.search-btn {
  position: relative;
  right: 50px;
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

/* Cards */
.card {
  width: 100%;
  padding: 10px;
}

.dates-font {
  font-weight: bolder;
  font-style: italic;
}

.card-img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  margin-bottom: 20px;
}

.border-dark {
  border-width: 5px;
}

.card-img-top {
  margin-top: 20px;
}

.image-container {
  overflow: hidden;
  height: 500px;
}

/* Delete post */

.delete-post {
  margin: 20px;
}

/* Pagination Buttons */
.pagination .page-item .page-link {
  color: #007bff;
  margin: 10px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.pagination .page-item .page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
}

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Comments Section */
.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  position: relative;
}

.comment.pending {
  opacity: 0.6;
}

.comment-bubble {
  position: relative;
}

.comment-bubble::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #f9f9f9;
  border-top: 0;
  margin-left: -8px;
}

.comment-content {
  padding: 10px;
}

.comment h5 {
  margin-bottom: 5px;
}

.comment-time {
  font-size: 12px;
  color: #999;
}

.approval {
  font-family: "Anton", sans-serif;
  font-size: small;
  color: red;
}

.bubble {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bubble::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border: 12px solid transparent;
  border-top-color: #f5f5f5;
  transform: translateX(-50%);
}

/* Comment Form */
#commentForm {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#commentForm input[type="text"],
#commentForm textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  background-color: rgb(214, 214, 214);
}

#commentForm button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

#commentForm button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-btn {
  margin-bottom: 0;
}

/* Create Form */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
}

.card-custom-size {
  max-width: 800px;
  margin: auto;
}

/* Passwords */
.weak {
  color: red;
}

.moderate {
  color: rgb(172, 172, 0);
}

.strong {
  color: green;
}

/* Watermark */

.water-text {
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

/* Media Queries */

/* Small screen up to 900 px */
@media (min-width: 200px) and (max-width: 750px) {
  .image-container {
    height: 300px;
  }
}

