@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: "Anton", sans-serif;
  background-color: #cdcdcd;
  margin-top: 70px;

}

.navbar-brand {
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.scale {
  height: 700px;
  width: 600px;
  border-radius: 50%;
  position: relative;
}

/* nav */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* Cards Style */
.card {
  width: 100%;
  padding: 10PX;
}

.dates-font {
  font-weight: bolder;
  font-style: italic;
}

.card-img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  margin-bottom: 20px;
}

.border-dark {
  border-width: 5px;
}

.card-img-top {
  margin-top: 20px;
}

.image-container {
  overflow: hidden;
  height: 500px;
}

/* Star rating */
.stars {
  cursor: pointer;
}

.stars span {
  font-size: 30px;
  color: #ccc;
}

.stars span.checked {
  color: gold;
}

/* Styling for pagination buttons */
.pagination .page-item .page-link {
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.pagination .page-item .page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
}

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Custom styling for the comment section */
.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  position: relative;
}

.comment.pending {
  opacity: 0.6;
}

.comment-bubble {
  position: relative;
}

.comment-bubble::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #f9f9f9;
  border-top: 0;
  margin-left: -8px;
}

.comment-content {
  padding: 10px;
}

.comment h5 {
  margin-bottom: 5px;
}

.comment p {
  margin-bottom: 10px;
}

.comment-time {
  font-size: 12px;
  color: #999;
}
