{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  {% if user_posts %}
  <div class="row">
    {% for record in user_posts %}
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% if 'placeholder' in record.featured_image.url %}{% static 'images/default_2.jpg' %}{% else %}{{ record.featured_image.url }}{% endif %}" class="img-fluid rounded-start" alt="{{ record.title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ record.name }}</h5>
              <p class="card-text">{{ record.description }}</p>
              <p class="card-text"><small class="text-muted">{{ record.created_at }}</small></p>
              <a href="{% url 'post_detail' record.slug %}" class="btn btn-primary stretched-link">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="alert alert-info" role="alert">No posts yet.</div>
  {% endif %}
</div>
{% endblock %}
