{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  {% if user_posts %}
    {% for record in user_posts %}
    <div class="card mb-3">
      <div class="card-header" style="background-image: url('{{ record.featured_image.url }}');">
        {% if "placeholder" in record.featured_image.url %}
        <img class="card-img" src="{% static 'images/default_2.jpg' %}" alt="placeholder image">
        {% else %}
        <img class="card-img" src="{{ record.featured_image.url }}" alt="{{ record.title }}">
        {% endif %}
        <a href="{% url 'post_detail' record.slug %}">
          {{ record.name }}
        </a>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="alert alert-info" role="alert">
      No posts yet.
    </div>
  {% endif %}
</div>
{% endblock %}
