{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="createReview" id="createRadio"
                                value="create" checked>
                            <label class="form-check-label" for="createRadio">Create</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="createReview" id="reviewRadio"
                                value="review">
                            <label class="form-check-label" for="reviewRadio">Review</label>
                        </div>
                    </div>
                </div>
                <div>
                    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form|crispy }}
                            </div>
                        </div>
                        <div class="row justify-content-center mt-4">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}